---
import { EDUCATION } from "@/constants/education";

---
<div id="educacion" class="h-28"></div>
<section class="bg-blue-light border-2 border-border px-8 py-7 rounded-3xl">
  <div>
    <p class="text-3xl font-bold text-golden pb-4 lg:text-4xl">
      Educación.
    </p>
  </div>
  <div class="flex flex-col gap-7">
    {EDUCATION.map(({ name, title, date, logo, link }) => (
      <div class="flex flex-col-reverse text-center text-lg items-center gap-8 p-2 pb-5 border-b border-border sm:flex-row sm:text-start">
        <div class="w-16">
          <img
            class="rounded-full"
            src={logo}
            alt={name}
            title={name}
          />
        </div>
        <div>
          <h4 class="text-blue-600 font-semibold mb-1 underline hover:opacity-80">
            <a
              href={ link }
              target="_blank"
              title={name}
            >
              {name}
            </a>
          </h4>
          <p class="mb-1 text-black font-semibold">
            {title}
          </p>
          <p class="mb-1 text-black">
            {date}
          </p>
        </div>
      </div>
    ))}
  </div>
</section>