---
interface Props {
  title: string;
  description: string;
  href: string;
  img: string;
  gif: string;
};

const { title, description, href, img } = Astro.props;

---
<div class="bg-white rounded-lg overflow-hidden shadow-md transition duration-300 transform hover:scale-105">
  <div class="relative">
    <a 
      href={href}
      transition:name=`media-image-${img.split('.')[0]}`
    >
      <img
        class="w-full h-60"
        src={img}
        alt={title}
        loading="lazy"
      />
    </a>
  </div>
  <a href={href} class="flex flex-col p-4 border-t border-gray-300">
    <p class="font-semibold text-golden text-xl inline-block">
      {title}
    </p>
    <p class="text-black font-semibold text-sm">
      {description}
    </p>
  </a>
</div>
